@model AddMarkViewModel

@{
    Layout = null;
}
<html>

<head>

</head>

<body>
    <a asp-action="Index">Home</a>

    <section class="table">
        <div class="row legend">
            <div class="column">Users</div>
            @foreach (var item in Model.Parameters)
            {
                <div class="column">@item.Name</div>
            }
        </div>
        @foreach (var user in Model.Users)
        {
            <div class="row">
                <div class="column">@user.Name</div>

                @foreach (var parameter in Model.Parameters)
                {
                    <input type="number" class="column" oninput="minMax(event)" onkeydown="send(event,'@user.Name', '@parameter.Name')" />
                }
            </div>
        }
    </section>
</body>
</html>

<link rel="stylesheet" type="text/css" href="~/css/addMarkViaTable.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="\js\site.js" charset="utf-8"></script>