

@using (Html.BeginForm("Logout", "Account", FormMethod.Post))
{
    <div class="input-form">
        <input type="submit" name="logout" value="Log out" />
    </div>
}

<p><a asp-action="AddMark">Add Mark</a></p>
<p>
    <div><a asp-action="GetAllMarks">See All Marks</a></div>
    <a asp-action="GetAllActualMarks">See All Actual Marks</a>
</p>

<p><a asp-action="ChooseSelection">Selections</a></p>