@using (Html.BeginForm("Logout", "Account", FormMethod.Post))
{
    <div class="input-form">
        <input type="submit" name="logout" value="Log out" />
    </div>
}


<a asp-action="AddMark">Add Mark</a>